*.png
*.gif
*.bmp
*.jpg
*.jpeg
*.obj
*.dae
*~
~*
cmake_install.cmake
# *.cmake

/resource/
/AUTHORS
/COPYING
/INSTALL
/NEWS
/COPYING
/AUTHORS

build/
bin/*
Tests/

ChangeLog
# CMakeLists.txt
CMakeCache.txt
CMakeFiles
Makefile
