*.png
*.gif
*.bmp
*.jpg
*.jpeg
*.obj
*.dae
*~
~*
*.cmake

/resource/
/AUTHORS
/COPYING
/INSTALL
/NEWS
/COPYING
/AUTHORS

build/
bin/
Tests/

ChangeLog
CMakeLists.txt
CMakeCache.txt
CMakeFiles
Makefile
