*.png
*.gif
*.bmp
*.jpg
*.jpeg
*.obj
*.dae
*~
~*
cmake_install.cmake
# *.cmake

/resource/*
!/resource/shader/
/AUTHORS
/COPYING
/INSTALL
/NEWS
/COPYING
/AUTHORS

build/
bin/*
libs/*
# Tests/
Project

ChangeLog
# CMakeLists.txt
CMakeCache.txt
CMakeFiles
Makefile

*.sublime-*

# Android project files
.classpath
.project
.settings
project.properties
local.properties
build.xml
proguard-project.txt

SysDependent/android/bin/
SysDependent/android/gen/
SysDependent/android/libs

